@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background:  #F3F1F5;
}

.navbar{
    background: #000;
    padding: 0.8rem;
    border-radius: 0 0 10px 10px;
}

.navbar .container{
    display: flex;
    place-content: space-between;
}

.navbar .container .logo{
    text-decoration: none;
    font-weight: bold;
    font-size: 36px;
}

.logo a{
    color: #E4BAFF;
    text-decoration: none;
}


ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

ul li{
    margin: 5px 10px; 
    padding: 5px;
}

ul li a{
    text-decoration: none;
    color: #E5E5E5; 
    font-size: 18px;
}

ul li a:hover{
    color: #AC84D3;
    font-weight: bold;
}

.contact{
    border: 3px solid #AC84D3;
    color: #AC84D3;
    padding: 8px 15px;
    border-radius: 20px;
}

.contact:hover{
    background: #AC84D3;
    color: #E5E5E5; 
    font-weight: bold;
}

section {
    padding: 3em 2em;
}

section .container{
    display: flex;
    place-content: space-between;
}

img{
    width: 380px;
    height: 383px;
    margin-top: 35px;
    margin-right: 100px;
    border-radius: 50px;
    box-shadow: 20px 20px 20px 0 #AC84D3;
    transition: all 0.5s ease-out;
}

img:hover{
    width: 420px;
    height: 423px;
    margin-top: 10px;
}

h1{
    text-align: left;
    font-size: 4em;
    line-height: 1.3em;
    margin-top: 1em;
    margin-left: 1em;
}

.biotext{
    font-size: 20px;
    text-align: justify;
}

.about-me .container{
    border: 5px dotted black;
    border-radius: 20px;
    padding: 20px;
}