@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Combo', cursive;
    color: black;
    font-size: 2em;
    background-color: aqua;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-weight: bold;
}

.container h1{
    font-size: 3em;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
    font-size: 40px;
    background-color: #000;
    width: 400px;
    height: 150px;
    border-radius: 30px;
}

.container a{
    color: #000;
    border: 3px solid white;
    padding: 5px 20px;
    border-radius: 10px;
    text-decoration: none;
}

a:visited{
    color: white;
}

a:hover{
    transform: scale(1.2);
    transition: ease all 200ms;
}

